* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #406794;
    --body-color-dark: #1E415E;
    --logo-color: #ffde58;
    --sidebar-color: #1E415E;
    --primary-color: #406794;
    --primary-color-light: #414141;
    --toggle-color: ##E6E6E6;
    --text-color: #DFDFDF;
    --spacer-color: #a8a8a8;
    --red-color: #c43952;


    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

.top{
    display: flex;
}

.script{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.script .buttons{
    display: flex;
    flex-direction: row;
}

.script .buttons button{
    margin: 0 5px;
    padding: 5px;
}


.node .deleteBut{
    color: var(--red-color);
}

.node select{
    background-color: var(--body-color-dark);
    color: var(--text-color);
    border: none;
    padding: 2px;
    border-radius: 5px;
    -webkit-appearance: none;
}

.node button{
    background-color: var(--body-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    margin: 0 5px;
    cursor: pointer;
    align-items: center;
}

.node button:hover{
    background-color: var(--logo-color);
    color: var(--body-color-dark);
}

.node p {
    color: var(--text-color);
}

.node p:hover{
    color: var(--logo-color);
}

.node input {
    color: var(--text-color);
    background-color: var(--body-color-dark);
    border: none;
    padding: 2px;
    width: 6em;
    border-radius: .5em;
}



.node {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1em;
}

.top h1{
    color: var(--text-color);
    margin: 0px !important;
    
}

.settingsSection{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: var(--body-color);
    margin-left: 88px;
}

.settingsSection .saveBut button{
    background-color: var(--body-color-dark);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-left: auto;
    font-weight: 700;
}

.settingsSection .saveBut button:hover{
    background-color: var(--logo-color);
    color: var(--body-color-dark);
    transition: var(--tran-03);
}

.settingsSection .setting{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.settingsSection textarea{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    background-color: var(--body-color-dark);
    padding: 10px;
    border-radius: 5px;
    resize: none;
    border: none;
}

.settingsSection h1{
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.settingsSection h2{
    color: var(--text-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.settingsSection .spacer{
    background-color: var(--text-color);
    margin: 10px 0;
    margin-top: 5px;
    height: 9px;
}

.smallSpacer{
    background-color: var(--text-color);
    margin: 8px 0;
    height: 3px;
}
.systemBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text-color);
    background-color: var(--body-color-dark);
    z-index: 0;
    top: 0;
    margin: 5em;
    padding: 2em;
    border-radius: 3em;
    margin-left: 10em;
    width: 100%;
    min-height: 350px;
    min-width: 980px;
}

.systemBody .monitorTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 1em;
}

.systemBody .monitorTop .upload{
    background-color: var(--body-color);
    border-radius: 1em;
    padding: 0.5em;
}

.progress {
    position: relative;
    margin: 4px;
    float: left;
    text-align: center;
}

.barOverflow {
    /* Wraps the rotating .bar */
    position: relative;
    width: 180px;
    height: 90px;
    /* Half circle (overflow) */
    margin-bottom: -14px;
    /* bring the numbers up */
    overflow: hidden;
    /* hide the overflowing numbers */
    top: 15px;
}

.fileUpload{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 1em;
}

.fileUpload input{
    background-color: var(--body-color);
    border-radius: 1em;
    padding: 0.5em;
    width: 200px;
}

.fileUpload .inputClassBut::-webkit-file-upload-button{
    background-color: var(--body-color-dark);
    border-radius: 1em;
    padding: 0.5em;
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.fileUpload .inputClassBut::-webkit-file-upload-button:hover{
    background-color: var(--logo-color);
    color: var(--body-color-dark);
    transition: var(--tran-03);
}

.fileUpload button{
    background-color: var(--body-color);
    border-radius: 1em;
    padding: .8em;
    cursor: pointer;
    border: none;
    color: var(--text-color);
    margin: 0 10px;
    font-weight: 700;
}

.fileUpload button:hover{
    background-color: var(--logo-color);
    color: var(--body-color-dark);
    transition: var(--tran-03);
}

.fileSync button:hover{
    background-color: var(--logo-color);
    color: var(--body-color-dark);
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
    /* full circle! */
    border-radius: 50%;
    box-sizing: border-box;
    border: 10px solid var(--body-color);
    /* half gray, */
    border-bottom-color: var(--logo-color);
    /* half azure */
    border-right-color: var(--logo-color);
}

.systemBody .monitor{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 2em;
    /* set it to the buttom if the div */
}

.monitor .logOutput{
    width: 250px;
    height: 200px;
    background-color: var(--body-color);
    border-radius: 2em;
}

.fileBody{
    background-color: var(--body-color-dark);
    color: var(--text-color);
    justify-content: left;
    max-height: 30em;
    width: 20em;
    margin: 2em;
    margin-left: 88px;
    border-radius: 3em;
    padding: 1.2em 1.4em;
    min-height: 26em;
    min-width: 320px;
}

.fileBody .progressBar{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.fileBody .progressBar .fileProgress{
    display: flex;
    flex-direction: row;
    margin: 0 !important;
}

.fileBody button{
    display: inline;
    color: var(--body-color-dark);
    border: 0;
    border-radius: 1em;
    padding: 0 ;
    margin: 0.5em;
    width: 6em;
    height: 2em;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.fileBody .runBut{
    background-color: #49A827;
}

.fileBody .killBut{
    background-color: #B22E2E;
}

.fileBody .editBut{
    background-color: #526EB9;
    font-size: 1.2em;
}

.fileBody .editBut:hover{
    background-color: var(--logo-color);
    color: var(--body-color-dark);
    transition: var(--tran-03);
}

.fileBody .runBut:hover{
    background-color: var(--logo-color);
    color: var(--body-color-dark);
    transition: var(--tran-03);
}

.fileBody .killBut:hover{
    background-color: var(--logo-color);
    color: var(--body-color-dark);
    transition: var(--tran-03);
}

.fileBody .description textarea{
    background-color: var(--body-color); 
    color: var(--text-color);
    padding: .5em;
    margin-top: 1em;
    width: 100%;
    border-radius: 1em;
    border: 0;
    resize: none;
    font-size: .8em;
}

.fileBody .fileSelection select{
    background-color: var(--body-color-dark);
    color: var(--text-color);
    padding: 0 .5em;
    border-radius: .5em;
    border: 0;
    font-size: 16px;
    /* hide the arow */
    -webkit-appearance: none;
}

.fileBody .ipAddress{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fileBody .pid{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fileBody p{
    font-size: 16px;
    margin-left: 4px;
}

.fileBody h1{
    font-size: 16px;
}

/* change color on hover */
.fileBody .fileSelection select:hover{
    background-color: var(--body-color);
}

.fileBody .fileSelection {
    font-size: 16px;
    font-weight: 800;
}

.fileBody .fileName{
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    font-weight: 600;
}

.fileBody .fileName textarea{
    resize: none;
    background-color: var(--body-color-dark);
    border: 0;
    margin-left: 5px;
    color: var(--text-color);
    font-size: 1em;
}

.fileBody .nameSpacer{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    border-radius: 2em;
    width: 100%;
    height: .2em;
}

.fileBody .name{
    color: var(--text-color);
    font-size: 1.4em;
    font-weight: 600;
    margin-left: 1em;
}

.fileBody .tags{
    display: flex;
    color: var(--text-color)f;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: .2em;
}

.fileBody .tags p{
    font-size: 12px;
    margin: 0;
    margin-right: 4px;
    color: var(--body-color-dark);
    padding: 0 4px;
    border-radius: .5em;
    background-color: #FFDE57;
}

.fileBody .tags h1{
    font-size: 12px;
    margin: 0;
    margin-right: 4px;
}

.fileBody .greenDot{
    height: 1em;
    width: 1em;
    float: right;
    border-radius: 50%;
    background-color: #209720;
    margin-right: .4em;
}

.fileBody .redDot{
    height: 1em;
    width: 1em;
    float: right;
    border-radius: 50%;
    background-color: #FF0000;
    margin-right: .4em;
}


.miniTerminal h1{
    display: inline;
    font-size: 16px;
}
.miniTerminal p{
    display: inline;
}

.tags{
    display: inline;
}

button{
    display: flex;
    flex-direction: row;
}
