button{
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    margin: .25em 0;
    padding: .75em 1em;
    border: none;
    cursor: pointer;
    border-radius: .5em;
}

button:hover {
    opacity: 0.8;
}

#todoText {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.dropzone {
    z-index: 1000;
    opacity: 0.8;
    position: fixed;
    width: 75%;
    height: 50%;
    border-radius: 1em;
    top: 25%;
    left: 12.5%;
}

