<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Test</title>
  </head>
  <body>
    <h3>Our Flask Buttons<h3/>
    <form method="post" action="/">
      {%for i in range(10)%}
        <input type="submit" value=VALUE{{i}} name="but"/>
        <!-- <input type="submit" value="VALUE2" name="but" /> -->
      {%endfor%}
    </form>
  </body>
</html>
